<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mcbalis Lanche</title>

    <!-- VUE -->
    <script src="./vue.js"></script>

    <!--BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!--Javascript Bundle with Popper-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</head>
<body>

<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="/imagens/logo.png" width="100" height="100" class="d-inline-block align-content-center" alt="">
      Balis Lanche
    </a>
  </nav>
  <style>  
   
    body {
      background-image: url("imagens/background.jpg");
      background-repeat: no-repeat;
      background-size:65% 
      
      
    }
    body {
      background-color: #F2EBDF
      
    }
  
  </style>
  
  

    <div class="container">
        <div id="app">
            <div class="row">
                <div class="col-md-6">
                    <div class="row mt-2">
                        <div class="col">
                            <img :src="pao[0]">
                            <img :src="alface">
                            <img :src="ketchup">
                            <img :src="mostarda">
                            <img :src="maionese">
                            <img :src="hamburguer">
                            <img :src="pao[1]">
                        </div>
                    </div>
                </div>
                <div class="col-md-6" v-if="etapa == 1 ">
                    <!--Tipo de Pão-->
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">TIPO DE PÃO</div>
                                <div class="card-body">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="Gergelim" v-model="inputTipoPao">
                                        <label class="form-check-label"> Gergelim</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="Australiano" v-model="inputTipoPao">
                                        <label class="form-check-label"> Australiano</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <!-- SALADAS-->
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">SALADAS</div>
                                <div class="card-body">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="alface" v-model="inputSalada">
                                        <label class="form-check-label"> Alface</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--MOLHOS-->
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">MOLHOS</div>
                                <div class="card-body">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="ketchup" v-model="inputMolhos">
                                        <label class="form-check-label"> Ketchup</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="mostarda" v-model="inputMolhos">
                                        <label class="form-check-label"> Mostarda</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="maionese" v-model="inputMolhos">
                                        <label class="form-check-label"> Maionese</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--HAMBÚGUER-->
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">HAMBÚGUER</div>
                                <div class="card-body">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="bovino" v-model="inputhamburguer">
                                        <label class="form-check-label"> Bovino</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="frango" v-model="inputhamburguer">
                                        <label class="form-check-label"> Frango</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="soja" v-model="inputhamburguer">
                                        <label class="form-check-label"> Soja </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col d-flex justify-content-end">
                            <button type="button" class="btn btn-primary" @click="fazerpedido()"> Fazer pedido</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" v-if="etapa == 2 ">
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">INFORME SEUS DADOS</div>
                                <div class="card-body">
                                    <div class="mb-3">
                                        <label class="form-label">Nome</label>
                                        <input type="text" class="form-control" v-model="inputnome">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Endereço</label>
                                        <input type="text" class="form-control" v-model="inputendereço">
                                    </div>       
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rom mt-2">
                        <div class="col d-flex justify-content-between">
                            <button type="button" class="btn btn-warning" @click="etapa -= 1 ">  Voltar para lanche</button>
                            <button type="button" class="btn btn-success" @click="confirmarpedido()"> Confirmar</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" v-if="etapa == 3 ">
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">PEDIDO CONFIRMADO</div>
                                <div class="card-body"> 
                                    <p>Agora é só aguardar 10 minutinhos !</p>
                                    <p>Nosso Motoboy vai chamar você em breve </p>    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rom mt-2">
                        <div class="col d-flex justify-content-between">
                            <button type="button" class="btn btn-primary" @click=" etapa = 1">Repetir pedido</button>
                            <button type="button" class="btn btn-success" @click="novopedido()">Novo pedido</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script>
        const vm = new Vue({
            el: '#app',
            data:{
                inputTipoPao:'',
                inputSalada: [],
                inputMolhos: [],
                inputhamburguer: '',
                etapa: 1,
                inputnome:'',
                inputendereço:'',
                novopedidoassincrono: null

            },
            computed: {
                pao() {
                    switch(this.inputTipoPao) {
                        case 'Gergelim':
                            return ['imagens/pao_gergelim_superior.png', 'imagens/pao_gergelim_inferior.png']
                        case 'Australiano':
                            return ['imagens/pao_australiano_superior.png','imagens/pao_australiano_inferior.png']
                        default:
                            return ['imagens/padrao/pao_superior.png','imagens/padrao/pao_inferior.png']
                    }
                },
                alface() {
                    if(this.inputSalada.includes('alface')) {
                        return 'imagens/alface.png'
                    }
                    return 'imagens/padrao/alface.png'
                },
                ketchup() {
                    if(this.inputMolhos.includes('ketchup')){
                        return 'imagens/ketchup.png'
                    }
                    return 'imagens/padrao/molho.png'
                },
                mostarda() {
                    if(this.inputMolhos.includes('mostarda')){
                        return 'imagens/mostarda.png'
                    }
                    return 'imagens/padrao/molho.png'
                },
                maionese() {
                    if(this.inputMolhos.includes('maionese')){
                        return 'imagens/maionese.png'
                    }
                    return 'imagens/padrao/molho.png'
                },
                hamburguer() {
                    switch(this.inputhamburguer) {
                        case 'bovino':
                            return 'imagens/bovino.png'
                        case 'frango':
                            return 'imagens/frango.png'
                        case 'soja':
                            return 'imagens/soja.png'
                        default:
                        return 'imagens/padrao/hamburguer.png'
                    }
                }
            },
            methods:{
                fazerpedido() {
                    if(this.inputTipoPao && this.inputhamburguer) {
                        this.etapa = 2

                    } else {
                        alert('você precisa selecinar no mínimo um pão e um hamburguer')
                    }
                },
                confirmarpedido () {
                    if(this.inputnome && this.inputendereço) {
                        this.etapa = 3
                        //realizar uma requisição http enviando os dados do pedido para o back-end da aplicação

                        this.novopedidoassincrono = setTimeout(() => this.novopedido(), 7000)
                    } else {
                        alert('Você precisa informar o seu nome e endereço')
                    }

                },
                novopedido() {
                this.etapa = 1,
                
                this.inputTipoPao =''
                this.inputSalada = []
                this.inputMolhos = []
                this.inputhamburguer = ''
                this.inputnome = ''
                this.inputendereço = ''

                }
            },
            watch: {
                etapa(novoValor) {
                    if(novoValor == 1 ) {
                        clearTimeout(this.novopedidoassincrono)
                    }
                }
            }
        })
    </script>
    
</body>
</html>